<table>
  <h2><%= @customer.name %>のフォロー一覧</h2>
  <% if @customers.exists? %>
  <thead>
    <tr>
      <th>name</th>
      <th>フォロー数</th>
      <th>フォロワー数</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer_path(customer.id) do %>
        <%= customer.name %></td>
        <% end %>
        <td><%#= link_to customer_followings_path(customer.id) do %>
        <%= customer.followings.count %></td>
        <%# end %>
        <td><%#= link_to customer_followers_path(customer.id) do %>
        <%= customer.followers.count %>
        <%# end %>
    <% end %>
      </tr>
  </tbody>
</table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>