<% if customer_signed_in? %>
<div>
  <h3><%= @customer.name %></h3>
  <%= attachment_image_tag @customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
   <% if @customer.id == current_customer.id %>
    <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
</div>


<p><%= "フォロー数: #{@customer.follower.count}" %></p>
<p><%= "フォロワー数: #{@customer.followed.count}" %></p>
<% unless @customer == current_customer %>
  <% if current_customer.following?(@customer) %>
    <%= link_to 'フォロー外す', unfollow_path(@customer.id), method: :POST %>
  <% else %>
    <%= link_to 'フォローする', follow_path(@customer.id), method: :POST %>
  <% end %>
<% end %>

<% else %>

<div>
  <h3><%= @customer.name %></h3>
  <%= attachment_image_tag @customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
   <% if @customer.id == current_customer.id %>
    <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
</div>


<p><%= "フォロー数: #{@customer.follower.count}" %></p>
<p><%= "フォロワー数: #{@customer.followed.count}" %></p>
<% end %>

<p class="c-txtsp"><%= link_to "ブックマーク一覧", customers_mypage_path(@customer.id) %></p>

<%= link_to "フォロー一覧", customer_followings_path(@customer.id) %>