<th>タイトル検索</th>
<div class="search-form">
  <%= form_with url: books_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table>
  <caption>漫画一覧</caption>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>本タイトル</th>
      <th>あらすじ</th>
      <th>ブックマーク数</th>
    </tr>
  </thead>
  <tbody>
    <% @book_m.each do |book_m| %>
      <tr class="books">
        <td><%= book_m.genre.name %></td>
        <td>
          <%= link_to book_path(book_m.id) do %>
            <%= book_m.title %>
          <% end %>
        </td>
        <td><%= book_m.synopsis %></td>
        <td><%= book_m.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>