<th>タイトル検索</th>
<div class="search-form">
  <%= form_with url: books_search_path, method: :get, local: true do |f| %>
  <%= f.hidden_field :genre_id, :value => 3 %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table>
  <caption>雑誌一覧</caption>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>本タイトル</th>
      <th>あらすじ</th>
      <th>ブックマーク数</th>
    </tr>
  </thead>
  <tbody>
    <% @book_z.each do |book_z| %>
      <tr class="books">
        <td><%= book_z.genre.name %></td>
        <td class="title">
          <%= link_to book_path(book_z.id) do %>
            <%= book_z.title %>
          <% end %>
        </td>
        <td class="synopsis"><%= book_z.synopsis.truncate(30) %></td>
        <td><%= book_z.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>