<th>小説タイトル検索</th>
<div class="search-form">
  <%= form_with url: books_search_path, method: :get, local: true do |f| %>
    <%= f.hidden_field :genre_id, :value => 1 %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table>
  <caption>小説一覧</caption>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>本タイトル</th>
      <th>あらすじ</th>
      <th>ブックマーク数</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |books| %>
      <tr class="books">
        <td><%= books.genre.name %></td>
        <td class="title">
          <%= link_to book_path(books.id) do %>
            <%= books.title %>
          <% end %>
        </td>
        <td class="synopsis"><%= books.synopsis.truncate(70) %></td>
        <td><%= books.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>