<th>タイトル検索</th>
<div class="search-form">
  <%= form_with url: books_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table>
  <caption>本一覧</caption>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>本タイトル</th>
      <th>あらすじ</th>
      <th>ブックマーク数</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr class="books">
        <td><%= book.genre.name %></td>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td><%= book.synopsis %></td>
        <td><%= book.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>