<th>全タイトル検索</th>
<div class="search-form">
  <%= form_with url: search_books_path, method: :get, local: true do |f| %>
    <% if @genre_id.present? %>
      <%= f.hidden_field :genre_id, :value => @genre_id %>
    <% end %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table>
  <caption>本一覧</caption>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>本タイトル</th>
      <th>あらすじ</th>
      <th>ブックマーク数</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr class="books">
        <td><%= book.genre.name %></td>
        <td class="title">
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td class="synopsis"><%= book.synopsis.truncate(70) %></td>
        <td><%= book.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>