<% if customer_signed_in? %>
<div class="book_show">
  <div class = "row mt-4">
    <div class = "col-sm-5">
      <div>お気に入り</div>
      <div id="favorite"><%= render 'books/favorite', book: @book %></div>
        <%= attachment_image_tag @book, :image, :fill, 300, 300, format: 'jpeg' %>
          <table class="hyou">
            <tbody align="center">
              <tr>
                <td width="200">タイトル</td>
                <td>
                  <%= @book.title%>
                </td>
              </tr>

              <tr>
                 <td>ジャンル</td>
                <td>
                  <%= @book.genre.name %>
                </td>
              </tr>

              <tr>
                <td>あらすじ</td>
                <td><%= @book.synopsis %></td>
              </tr>
            </tbody>
           </table>
      </div>
    </div>
  </div>
</div>
  <%= form_with(model:[@book, @review], data: {remote: true} ) do |f| %>
    <%= f.text_area :review %>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.submit 'コメントする' %>
  <% end %>

  <table>
  <thead>
    <tr>
      <th>ユーザーネーム</th>
      <th>レビュー内容</th>
      <th>いいね数</th>
    </tr>
  </thead>
  <tbody>
      <% @book.reviews.each do |review| %>
        <tr class="">
          <td><%= link_to customer_path(review.customer.id) do %>
               <%= review.customer.name %>
            <% end %>
          </td>
          <td><%= review.review %></td>
          <td id="review_<%= review.id %>"><%= render 'books/like', review: review %></td>
        </tr>
      <% end %>
  </tbody>
</table>

  <% else %>

  <p><%= @book.title %></p>
  <p><%= @book.genre.name %></p>
  <p><%= @book.synopsis %></p>
  <%= attachment_image_tag @book, :image, :fill, 100, 100, format: 'jpeg' %>
  <table>
  <thead>
    <tr>
      <th>ユーザーネーム</th>
      <th>レビュー内容</th>
      <th>いいね数</th>
      <th></th>
      <th></th>
      <th></th>
      </tr>
  </thead>
  <tbody>
    <% @book.reviews.each do |review| %>
      <tr class="books">
        <td><%= review.customer.name %></td>
        <td><%#= review.review %></td>
        <td><%= review.likes.count %></td>
        <td></td>
        <td></td>
        　<% end %>
          </tr>
        <% end %>
  </tbody>
</table>
  <p>本一覧へ<%= link_to "back", books_path %></p>