<% if customer_signed_in? %>

<div class="container mt-3">

  <div class="book_show">
    <div class="row">
      <div class="col-md-4">
        <%= attachment_image_tag @book, :image, format: 'jpeg', class: 'd-block mx-auto img-fluid' %>
      </div>
      <div class="col-md-8" style="line-height: 1.8;">

        <div class="row mt-3 mt-md-0 pb-1" style="border-bottom: 3px solid #000; background-color: #fff;">
          <div class="col-md-3">
            <strong>タイトル</strong>
          </div>
          <div class="col-md-9">
            <%= @book.title%>
          </div>
        </div>

         <div class="row mt-3 pb-1" style="border-bottom: 3px solid #000;">
          <div class="col-md-3">
            <strong>ジャンル</strong>
          </div>
          <div class="col-md-9">
            <%= @book.genre.name %>
          </div>
        </div>

        <div class="row mt-3 pb-1" style="border-bottom: 3px solid #000;">
          <div class="col-md-3">
            <strong>あらすじ</strong>
          </div>
          <div class="col-md-9">
            <%= @book.synopsis %>
          </div>
        </div>

        <div class="text-right mt-3">お気に入り : <span id="favorite"><%= render 'books/favorite', book: @book %></span></div>

      </div>
    </div>
  </div>
</div>

<div class="book_show">
  <div class = "row mt-4">
    <div class = "col-sm-5">
      <table class="hyou">
        <tbody align="center">
          <div>お気に入り</div>
          <div id="favorite"><%= render 'books/favorite', book: @book %></div>
            <%= attachment_image_tag @book, :image, :fill, 300, 300, format: 'jpeg' %>
          <tr>
            <td width="200">タイトル</td>
            <td>
              <%= @book.title%>
            </td>
          </tr>

          <tr>
             <td>ジャンル</td>
            <td>
              <%= @book.genre.name %>
            </td>
          </tr>

          <tr>
            <td>あらすじ</td>
            <td><%= @book.synopsis %></td>
          </tr>
        </tbody>
       </table>
      </div>
    </div>
  </div>
</div>
  <%= form_with(model:[@book, @review], data: {remote: true} ) do |f| %>
    <%= f.text_area :review %>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.submit 'コメントする' %>
  <% end %>

  <table>
  <thead>
    <tr>
      <th>ユーザーネーム</th>
      <th>レビュー内容</th>
      <th>いいね数</th>
    </tr>
  </thead>
  <tbody>
      <% @book.reviews.each do |review| %>
        <tr class="">
          <td><%= link_to customer_path(review.customer.id) do %>
               <%= review.customer.name %>
            <% end %>
          </td>
          <td><%= review.review %></td>
          <td id="review_<%= review.id %>"><%= render 'books/like', review: review %></td>
        </tr>
      <% end %>
  </tbody>
</table>

  <% else %>

  <p><%= @book.title %></p>
  <p><%= @book.genre.name %></p>
  <p><%= @book.synopsis %></p>
  <%= attachment_image_tag @book, :image, :fill, 100, 100, format: 'jpeg' %>
  <table>
  <thead>
    <tr>
      <th>ユーザーネーム</th>
      <th>レビュー内容</th>
      <th>いいね数</th>
      <th></th>
      <th></th>
      <th></th>
      </tr>
  </thead>
  <tbody>
    <% @book.reviews.each do |review| %>
      <tr class="books">
        <td><%= review.customer.name %></td>
        <td><%#= review.review %></td>
        <td><%= review.likes.count %></td>
        <td></td>
        <td></td>
        　<% end %>
          </tr>
        <% end %>
  </tbody>
</table>
  <p>本一覧へ<%= link_to "back", books_path %></p>