<% if customer_signed_in? %>
<div class="container takasa">
  <div class="row">
      <tbody align="center">
          <div>
            <h2 class = "top", style: 'color: #031B31;'>ようこそ、<%= current_customer.name %>さん！<br>
               このサイトは、本のレビューを書き込むサイトになります。<br>
          </div>
      </tbody>
  </div>
</div>

<h1 class="top">今週のお気に入りTOP5！</h1>

<div class="container">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% @favorite_ranking_top_5.each_with_index do |top, rank| %>
        <div class="swiper-slide px-5">
          <h2><%= rank + 1 %>位</h2>
          <div class="row">
            <div class="col-md-4">
              <%= attachment_image_tag top[:book], :image, format: 'jpg', class: 'img-fluid ' %>
            </div>
            <div class="col-md-8">

              <div class="row mt-3 mt-md-0 pb-1" style="border-bottom: 3px solid #000; background-color: #fff;">
              <div class="col-md-3">
                <strong>タイトル</strong>
              </div>
              <div class="col-md-9">
                <%= top[:book].title%>
              </div>
            </div>

             <div class="row mt-3 pb-1" style="border-bottom: 3px solid #000;">
              <div class="col-md-3">
                <strong>ジャンル</strong>
              </div>
              <div class="col-md-9">
                <%= top[:book].genre.name %>
              </div>
            </div>

            <div class="row mt-3 pb-1" style="border-bottom: 3px solid #000;">
              <div class="col-md-3">
                <strong>あらすじ</strong>
              </div>
              <div class="col-md-9">
                <%= top[:book].synopsis.truncate(70) %>
              </div>
            </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>


    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>


<% else %>

<div class="container takasa">
  <div class="row">
      <tbody align="center">
          <div>
            <h2 class = "top">ようこそ、Books_logへ！<br>
               このサイトは、本のレビューを書き込むサイトになります。<br>
               会員ではない方もレビューの閲覧は可能ですが、フォロー、お気に入り機能、レビューの書き込みはできません<br>
               上記の機能を使用するためには、会員登録が必要となります。</h2>
          </div>
      </tbody>
  </div>
</div>

<h1 class="top">今週のお気に入りTOP5！</h1>

<div class="container">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% @favorite_ranking_top_5.each_with_index do |top, rank| %>
        <div class="swiper-slide px-5">
          <h2><%= rank + 1 %></h2>
          <div class="row">
            <div class="col-md-4">
              <%= attachment_image_tag top[:book], :image, format: 'jpg', class: 'img-fluid ' %>
            </div>
            <div class="col-md-8">

              <div class="row mt-3 mt-md-0 pb-1" style="border-bottom: 3px solid #000; background-color: #fff;">
              <div class="col-md-3">
                <strong>タイトル</strong>
              </div>
              <div class="col-md-9">
                <%= top[:book].title%>
              </div>
            </div>

             <div class="row mt-3 pb-1" style="border-bottom: 3px solid #000;">
              <div class="col-md-3">
                <strong>ジャンル</strong>
              </div>
              <div class="col-md-9">
                <%= top[:book].genre.name %>
              </div>
            </div>

            <div class="row mt-3 pb-1" style="border-bottom: 3px solid #000;">
              <div class="col-md-3">
                <strong>あらすじ</strong>
              </div>
              <div class="col-md-9">
                <%= top[:book].synopsis.truncate(70) %>
              </div>
            </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
<% end %>

