<h1 class="header_top">
  <%= link_to 'Books_log', "/", style: 'text-decoration: none;' %>
</h1>
<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_items tab_item" for="all"><i class="fas fa-book-open">Book</i></label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_items tab_item" for="programming"><i class="fas fa-crown">ランキング</i></label>
  <input id="login" type="radio" name="tab_item">
  <label class="tab_items sub_items tab_item" for="login"><i class="fas fa-sign-in-alt">ログイン</i></label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><i class="fas fa-book"></i> <%= link_to "本一覧", books_path, style: 'color: #031B31;' %></p>
      <p class="c-txtsp"><i class="fas fa-book"></i> <%= link_to "小説一覧", genre_s_books_path, style: 'color: #031B31;' %></p>
      <p class="c-txtsp"><i class="fas fa-book"></i> <%= link_to "漫画一覧", genre_m_books_path, style: 'color: #031B31;' %></p>
      <p class="c-txtsp"><i class="fas fa-book"></i> <%= link_to "雑誌一覧", genre_z_books_path, style: 'color: #031B31;' %></p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><i class="fas fa-crown"></i> <%= link_to "ジャンル別ランキングTOP3", rank_books_path, style: 'color: #031B31;' %></p>
    </div>
  </div>
  <div class="tab_content" id="login_content">
    <div class="tab_content_description">
      <li class="c-txtsp"><i class="fas fa-user-plus"></i> <%= link_to "新規登録", new_customer_registration_path, style: 'color: #031B31;' %></li>
      <li class="c-txtsp"><i class="fas fa-sign-in-alt"></i> <%= link_to "ログイン", new_customer_session_path, style: 'color: #031B31;' %></li>
    </div>
  </div>
</div>