<!DOCTYPE html>
<html>
  <head>
    <title>Books_log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  </head>

  <body>
    <header>
    <% if customer_signed_in? %>
    <h1 class="header_top"><%= link_to 'Books_log', "/", style: 'text-decoration: none;' %>
    </h1>
  <div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all"><i class="fas fa-book-open"> Book</i></label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming"><i class="fas fa-crown"> ランキング</i></label>
  <input id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design"><i class="fas fa-users"> ユーザー</i></label>
  <input id="logout" type="radio" name="tab_item">
  <label class="tab_item sub_item" for="logout"><i class="fas fa-sign-out-alt"> ログアウト</i></label>
  <input id="customer" type="radio" name="tab_item">
  <label class="tab_item sub_item" for="customer"><i class="fas fa-user"> ユーザー情報</i></label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "本一覧", books_path, style: 'color: #031B31;' %></p>
      <p class="c-txtsp"><%= link_to "小説一覧", books_genre_s_path, style: 'color: #031B31;' %></p>
      <p class="c-txtsp"><%= link_to "漫画一覧", books_genre_m_path, style: 'color: #031B31;' %></p>
      <p class="c-txtsp"><%= link_to "雑誌一覧", books_genre_z_path, style: 'color: #031B31;' %></p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ランキングTOP3", books_rank_path, style: 'color: #031B31;' %></p>
    </div>
  </div>
  <div class="tab_content" id="design_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ユーザー一覧", customers_path, style: 'color: #031B31;' %></p>
    </div>
  </div>
  <div class="tab_content" id="logout_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, style: 'color: #031B31;' %></p>
    </div>
  </div>
  <div class="tab_content" id="customer_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ユーザー情報", customer_path(current_customer), style: 'color: #031B31;' %></p>
      <p class="c-txtsp"><%= link_to "ブックマーク一覧", customers_mypage_path(current_customer), style: 'color: #031B31;' %></p>
      <p class="c-txtsp"><%= link_to "いいね一覧", customers_like_path(current_customer), style: 'color: #031B31;' %></p>
    </div>
  </div>
</div>
</div>
<% else %>
  <h1 class="header_top">
    <%= link_to 'Books_log', "/", style: 'text-decoration: none;' %>
  </h1>
  <div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_items" for="all"><i class="fas fa-book-open">Book</i></label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_items" for="programming"><i class="fas fa-crown">ランキング</i></label>
  <input id="login" type="radio" name="tab_item">
  <label class="tab_items sub_items" for="login"><i class="fas fa-sign-in-alt">ログイン</i></label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "本一覧", books_path %></p>
      <p class="c-txtsp"><%= link_to "小説一覧", books_genre_s_path %></p>
      <p class="c-txtsp"><%= link_to "漫画一覧", books_genre_m_path %></p>
      <p class="c-txtsp"><%= link_to "雑誌一覧", books_genre_z_path %></p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ランキングTOP3", books_rank_path %></p>
    </div>
  </div>
  <div class="tab_content" id="login_content">
    <div class="tab_content_description">
      <li class="c-txtsp"><%= link_to "新規登録", new_customer_registration_path %></li>
      <li class="c-txtsp"><%= link_to "ログイン", new_customer_session_path %></li>
    </div>
  </div>
</div>
<% end %>
<%= yield %>
</header>

    <footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>DWC-Books_log.inc</p>
    	</div>
    </div>
  </div>
</footer>

</body>