<!DOCTYPE html>
<html>
  <head>
    <title>Books_log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if customer_signed_in? %>
  <div class="top-nav">
  <%= link_to image_tag("book.jpg",size: '200x200'), "/" %>
  <div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">Book</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">ランキング</label>
  <input id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design">ユーザー</label>
  <input id="search" type="radio" name="tab_item" checked>
  <label class="tab_item sub_item" for="search">検索</label>
  <input id="logout" type="radio" name="tab_item">
  <label class="tab_item sub_item" for="logout">ログアウト</label>
  <input id="customer" type="radio" name="tab_item">
  <label class="tab_item sub_item" for="customer">ユーザー情報</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "本一覧", books_path %></p>
      <p class="c-txtsp"><%= link_to "小説一覧", books_genre_s_path %></p>
      <p class="c-txtsp"><%= link_to "漫画一覧", books_genre_m_path %></p>
      <p class="c-txtsp"><%= link_to "雑誌一覧", books_genre_z_path %></p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ランキングTOP3", books_rank_path %></p>
    </div>
  </div>
  <div class="tab_content" id="design_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ユーザー一覧", customers_path %></p>
    </div>
  </div>
  <div class="tab_content" id="search_content">
    <div class="tab_content_description">
      <p class="c-txtsp">サーチ画面</p>
    </div>
  </div>
  <div class="tab_content" id="logout_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></p>
    </div>
  </div>
  <div class="tab_content" id="customer_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ユーザー情報", customer_path(current_customer) %></p>
      <p class="c-txtsp"><%= link_to "ブックマーク一覧", customers_mypage_path(current_customer) %></p>
    </div>
  </div>
</div>
</div>
<% else %>
<div class="top-nav">
  <%= link_to image_tag("book.jpg",size: '200x200'), "/" %>
  <div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">Book</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">ランキング</label>
  <input id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design">ユーザー一覧</label>
  <input id="search" type="radio" name="tab_item" checked>
  <label class="tab_item sub_item" for="search">検索</label>
  <input id="login" type="radio" name="tab_item">
  <label class="tab_item sub_item" for="login">ログイン</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "本一覧", books_path %></p>
      <p class="c-txtsp"><%= link_to "小説一覧", books_genre_s_path %></p>
      <p class="c-txtsp"><%= link_to "漫画一覧", books_genre_m_path %></p>
      <p class="c-txtsp"><%= link_to "雑誌一覧", books_genre_z_path %></p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to "ランキングTOP3", books_path %></p>
    </div>
  </div>
  <div class="tab_content" id="design_content">
    <div class="tab_content_description">
      <p class="c-txtsp"></p>
    </div>
  </div>
  <div class="tab_content" id="search_content">
    <div class="tab_content_description">
      <p class="c-txtsp">サーチ画面</p>
    </div>
  </div>
  <div class="tab_content" id="login_content">
    <div class="tab_content_description">
      <li class="c-txtsp"><%= link_to "新規登録", new_customer_registration_path %></li>
      <li class="c-txtsp"><%= link_to "ログイン", new_customer_session_path %></li>
    </div>
  </div>
</div>
</div>
<% end %>
<%= yield %>
</header>

    <footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>

</body>